table {
  width: 98%;
  margin: 10px;
  border-collapse: separate;
  border-spacing: 0;
}
.usercard {
  height: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
.pointer {
  cursor: pointer;
}
h1 {
  margin: 10px;
}
.editicon {
  color: #3f51b5;
}
.deleteicon {
  color: #e91e63;
}
.transparent .mat-dialog-container {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.0);
}


