.sidenav-container {
  height: 100%;
}
.usercard {
  margin:10px 5px 10px 10px;
 }
.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-card-image{

  width: 100px;
  align-content: center;
  text-align: center;
  margin: 30px 20px 20px 20px !important;
}
